
/* Default color scheme, dark mode */
:root {
    /* --bg-dark: HSL(0, 0%, 3%);
    --bg-middle: HSL(0, 0%, 10%);
    --bg-light: HSL(0, 0%, 17%); */

    /* --bg-dark: hsl(237 100% 5%);
    --bg-middle: hsl(228 92% 7%);
    --bg-light: hsl(222 73% 11%);

    --bg-dark: #181818;
    --bg-middle: #212121;
    --bg-light: #303030; */

    --bg-dark: hsl(180 9% 14%);
    --bg-middle: hsl(180 9% 18%);
    --bg-light: hsl(180 9% 22%);

    --text: HSL(0, 0%, 90%);
    --text-muted: HSL(0, 0%, 70%);

    --border: hsl(0, 0%, 25%);

    --gradient: linear-gradient(
        0deg,
        var(--bg-dark) 0%,
        var(--bg-middle) 100%
    );

    --shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

    --main: hsl(39, 100%, 50%);
    --main-muted: hsl(39, 90%, 40%);

    --grid-lines: var(--bg-middle);

}

/* light mode */
[data-theme="light"] {
    --bg-dark: hsl(0, 0%, 95%);
    --bg-middle: hsl(0, 0%, 98%);
    --bg-light: hsl(0, 0%, 100%);

    --text: hsl(0, 0%, 10%);
    --text-muted: hsl(0, 0%, 30%);

    --border: hsl(0, 0%, 75%);

    --gradient: linear-gradient(
        0deg,
        var(--bg-dark) 0%,
        var(--bg-middle) 100%
    );

    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    --main: hsl(35, 100%, 50%);
    --main-muted: hsl(35, 90%, 40%);
    --main-hint: hsl(35, 50%, 88%);

    --grid-lines: var(--main-hint);
}