.home-hero {
    text-align: center;
    margin: 2rem 0;
    margin-bottom: 3rem;
    /* background-color: var(--bg-middle); */
    padding: 2rem;
    padding-bottom: 0;
    height: calc(100vh - 60px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /* border-radius: 20px; */
    position: relative;

    z-index: 1;

    width: calc(100% - 2 * 1rem);
    margin: auto -1rem;
    margin-top: -1rem;
}

.home-hero::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background:
        linear-gradient(to right, var(--grid-lines) 3px, transparent 1px),
        linear-gradient(to bottom, var(--grid-lines) 3px, transparent 1px);
    background-size: min(3em, 10vw) min(3em, 10vw);

    /* Fade with radial mask */
    mask-image: radial-gradient(circle, black 0%, transparent 100%);
    -webkit-mask-image: radial-gradient(circle, black 0%, transparent 100%);
    mask-mode: match-source;
    -webkit-mask-mode: match-source;

    pointer-events: none;
}

.home-hero .logo svg {
    width: clamp(4rem, 16vw, 8rem);
    height: clamp(4rem, 16vw, 8rem);
}

@media only screen and (max-height:600px) {
    .home-hero{
        background-color: #00000000;
        justify-content: end;
    }
}

.home-hero h1 {
    font-size: clamp(2rem, 8vw, 4rem);
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.home-hero h2 {
    font-size: clamp(0.75rem, 2vw, 1.5rem);
    margin-bottom: -0.5rem;
}

.recent-posts {
    display: flex;
    flex-wrap: wrap;
}

.navigation .button {
    margin: 0.4rem 1rem;
}

.recent-posts .card {
    flex: 1;
    margin: 0.5rem;
    padding: 1rem;
    background-color: var(--bg-middle);
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    width: calc(33.333% - 1rem);
}

.navigation {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width:600px) {
    .recent-posts {
        display: grid;
        flex-wrap: wrap;
        width: 100%;
    }

    .navigation {
        display: grid;
        flex-wrap: wrap;
        width: 100%;
    }

}
