html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  color: var(--text-muted);
  background-color: var(--bg-dark);
  font-family: sans-serif;
  line-height: 1.5;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  /* color: #00e; */
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text);
}

main {
  padding: 1rem;
  max-width: 90vw;/*min(80vw, 100vh); */
  margin: auto;
}
@media only screen and (max-width:600px) {
  main {
    padding: 0;
    margin: 10px;
    width: calc(100%-2*10px);
    max-width: 100%;
  }
}

.card {
  background-color: var(--bg-middle);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: var(--shadow);
}

a {
  color: var(--text);
}

.social-icons {
    padding: 12px 0;
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 12px;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
    color: var(--main);
}

.button {
  background-color: var(--bg-light);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 0 1rem;
  margin: 1rem;
  box-shadow: var(--shadow);
  transition: transform 0.25s, box-shadow 0.25s;
}

.button:hover {
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(2px);
  box-shadow: none;
}

.logo svg {
    width: clamp(2rem, 8vw, 4rem);
    height: clamp(2rem, 8vw, 4rem);
}
.logo > svg {
    max-width: 100%;
    max-height: 100%;
    color: var(--main);
}

.logo svg * {
    fill: var(--main);
}

.listcard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.6rem;
  padding-bottom: 0.4rem;
}

.listcard h1 {
  color: var(--main);
  margin-top: 0;
  font-size: 1.2rem;
}

.listcard .content {
  margin-left: 1rem;
  font-size: 1rem;
}

.cardslist {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap:2%
}

@media only screen and (max-width:900px) {
  .cardslist {
    display: grid;
    grid-template-columns: 49% 49%;
    gap:2%
  }
}
@media only screen and (max-width:500px) {
  .cardslist {
    display: grid;
    grid-template-columns: 100%;
  }

  .listcard {
    margin-bottom: 0.3rem;
  }
}

.tagicons {
  margin-top: auto;
  background: linear-gradient(to top, var(--bg-light) 30%, var(--bg-light) 70%, transparent);
  display: flex;
  flex-direction: row;
  gap: 3px;
  padding-left: 1rem;
  margin: 0 -1rem;
  margin-bottom: -0.4rem;
  padding-bottom: 0.4rem;
  border-radius: 0.5rem;
}

.tagicons img, .tagicons a {
  width: 2rem;
  height: 2rem;
  padding:0;
  margin:0;
  display: block;
}