html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  color: var(--text-muted);
  background-color: var(--bg-dark);
  font-family: sans-serif;
  line-height: 1.5;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  /* color: #00e; */
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text);
}

main {
  padding: 1rem;
  max-width: 800px;
  margin: auto;
}

.card {
  background-color: var(--bg-middle);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}